/* ==========================================================================
   Navs
   ========================================================================== */

.actions__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: inset -1px 0 0 0 $base-alpha-color;
  padding: 0 ($global-spacing / 2);

  &:last-child {
    box-shadow: none;
    padding-right: 0;
  }

  &, > li {
    display: inline-block;
  }

  > li:not(:last-child) {
    margin-right: $global-spacing / 4;
  }
}