/* ==========================================================================
   Static: Global
   ========================================================================== */

.inpage--static .inpage__header {
  .inner {
    position: relative;
    padding-bottom: $global-spacing;

    &::after {
      position: absolute;
      left: 1rem;
      bottom: 0;
      content: '';
      height: 0.25rem;
      width: 4rem;
      background: $base-font-color;

      @include media(xlarge-up) {
        left: 2rem;
      }
    }
  }
}

.inpage--static .inpage__body {
  .inner {
    min-height: $global-spacing * 24;
    display: flex;
    align-items: center;
  }

  .prose {
    @include column(8/12);

    > *:last-child {
      margin-bottom: 0;
    }
  }
}
