/* ==========================================================================
   Projects: Single
   ========================================================================== */

.inlay {}

.inlay__media {
  @include column(12/12);
  background: $base-alpha-color;
  border-radius: $base-border-radius;
  padding: $global-spacing * 2;
  text-align: center;
  margin: 0 0 ($global-spacing * 2) 0;
}

.inlay__aside {
  @include column(4/12);
}

.inlay__main {
  @include column(8/12);
}

.inlay__title {
  @include heading(1.25rem);
}


/* Share menu
   ========================================================================== */

.share-menu {
  .form__control {
    font-size: 0.75rem;
  }
}

.share-button {
  @extend .button, .button--primary-raised-light;

  &::before {
    @extend %collecticon-share;
  }
}

.share-facebook::before {
  @extend %collecticon-brand-facebook;
}

.share-twitter::before {
  @extend %collecticon-brand-twitter;
}

.share-copy {
  @extend .button, .button--primary-raised-dark, .button--text-hidden;

  &::before {
    @extend %collecticon-clipboard-list;
  }
}
