/* ==========================================================================
   Scenarios: Global
   ========================================================================== */

.scenario-meta-menu {
  width: auto;
}

.alert h6 {
  margin: 0;

  time {
    float: right;
    font-size: 0.75rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    opacity: 0.64;
    font-weight: normal;
  }
}