@charset "UTF-8";

/*
Reference:

light gray:   #F5F6F8
dark gray:    #364F69
*/

body {
  background-color: #F5F6F8;
  color: #364F69;
}

.page__title,
.inpage .inpage__title {
  color: #364F69;
  font-size: 1.75rem;
}

.nav-global-menu {
  color: #364F69;
  font-size: 1rem;
}

.page__header,
.inpage__header,
.page__footer {
  background-color: #F5F6F8;
  box-shadow: none;
  color: #a3afbc;
}

.page__footer,
.inpage__body .inner>:first-child {
  border-top: 1px rgba(54, 79, 105, 0.24) solid;
}

.inpage__body .inner>:first-child {
  padding-top: 2rem;
}

.page__headline {
  float: left;
  left: auto;
  position: relative;
  top: auto;
  transform: none
}

.page__headline a {
  display: block;
}

.page__tagline {
  color: #a3afbc;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  margin: 0.5rem 0 0 0;
}

.page__footer-nav,
.footer-credits {
  left: auto;
}

.page__footer-nav ul {
  float: none;
}

.inpage__header {
  min-height: auto;
  padding-bottom: 0;
}

.inpage .inpage__breadcrumb {
  color: #364F69;
}

.footer-credits {
  text-align: right;
}


/* Filters menu */

.inpage__sec-nav {
  background-color: transparent;
  box-shadow: none;
  color: #364F69;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
}

.inpage__sec-nav .filters-menu:last-child {
  float: none;
}

.inpage__sec-nav .filters-menu dt {
  color: #364F69;
}

.inpage__sec-nav .filters-results {
  display: inline-block;
  float: right;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* Individual result pages */

.ipa-download,
.ipa-download:hover {
  background-color: #0071bc;
}

.project--meta {
  float: left;
  margin-right: 3#%;
  width: 31.3%;
}
.project--description {
  float: left;
  width: 65.6%;
}

figure {
  margin: 2rem 0;
  text-align: center;
}

figure img {
  margin-bottom: 1rem;
  width: 90%;
}